{:deps {io.github.nextjournal/log             {:local/root "../log"}
        io.github.nextjournal/view            {:local/root "../view"}
        kitchen-async/kitchen-async {:mvn/version "0.1.0-20190219.142001-8"}}}
