{:paths ["src" "resources"]
 :deps {io.github.nextjournal/viewer {:local/root "modules/viewer"}
        io.github.nextjournal/inspector {:local/root "modules/inspector"}
        girouette/girouette {:deps/root "lib/girouette"
                             :git/url "git@github.com:green-coder/girouette.git"
                             :git/sha "6de4cd20b65de582cf238e9c8b381477ca772caf"}}

 :aliases
 {:shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.3"}
                        cider/cider-nrepl    {:mvn/version "0.26.0"}}
           :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :examples {:extra-deps {metosin/reitit-frontend {:mvn/version "0.5.15"}}}

  :girouette {:extra-deps {girouette/processor {:deps/root "lib/processor"
                                                :git/url "git@github.com:green-coder/girouette.git"
                                                :git/sha "6de4cd20b65de582cf238e9c8b381477ca772caf"}}
              :ns-default girouette.processor
              :exec-fn process
              :exec-args {:css {:output-file "public/css/girouette.css"}
                          :watch? true
                          :input {:source-paths ["modules/viewer/src" "modules/devcards/src"]}}}}}
