{:paths ["src" "resources"]
 :deps {io.github.nextjournal/viewer {:local/root "modules/viewer"}
        io.github.nextjournal/inspector {:local/root "modules/inspector"}
        io.github.nextjournal/devcards {:local/root "modules/devcards"}
        io.github.nextjournal/markdown {:local/root "modules/markdown"}
        io.github.nextjournal/devdocs {:local/root "modules/devdocs"}}

 :aliases
 {:shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.3"}
                        binaryage/devtools   {:mvn/version "1.0.3"}
                        cider/cider-nrepl    {:mvn/version "0.26.0"}}
           :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :examples
  {:extra-paths ["examples"]
   :extra-deps {metosin/reitit-frontend {:mvn/version "0.5.15"}
                org.babashka/sci {:mvn/version "0.2.9"}}}

  :nextjournal/devdocs
  {:extra-deps {borkdude/edamame {:mvn/version "0.0.19"}}
   :exec-fn nextjournal.devdocs/build!
   :exec-args {:paths ["docs/**.{clj,md}" "README.md"]}}

  :test/markdown
  {:extra-paths ["modules/markdown/test"]
   :exec-fn test-runner/run}}}
