{
 :deps {io.github.nextjournal/viewer {:local/root "modules/viewer"}
        girouette/girouette          {:mvn/version "0.0.4"}}

 :aliases
 {:shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.3"}
                        cider/cider-nrepl    {:mvn/version "0.26.0"}}
           :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :examples {:extra-deps {metosin/reitit-frontend {:mvn/version "0.5.15"}}}

  :girouette {:extra-deps {girouette/processor {:mvn/version "0.0.4"}}
              :ns-default girouette.processor
              :exec-fn process
              :exec-args {:css {:output-file "public/girouette.css"}
                          :watch? true
                          :input {:source-paths ["modules/viewer/src" "modules/devcards/src"]}}}}}
