{:deps {:aliases [:shadow :examples]}
 :dev-http {7779 {:roots ["classpath:public" "public"]}}
 :cache-blockers #{sci.impl.cljs}
 :builds {:browser {:target :browser
                    :output-to "public/js/viewer.js"
                    :output-dir "public/js"
                    :modules {:viewer {:entries [nextjournal.viewer
                                                 nextjournal.viewer.notebook
                                                 nextjournal.devdocs.demo
                                                 examples]}}
                    :js-options {:output-feature-set :es8}}}}
