{:deps {:aliases [:shadow :examples]}
 :dev-http {7779 ["classpath:public" "public"]}
 :builds {:browser {:target :browser
                    :output-to "public/js/viewer.js"
                    :output-dir "public/js"
                    :modules {:viewer {:entries [nextjournal.viewer
                                                 nextjournal.viewer.notebook
                                                 nextjournal.devcards.main]}}
                    :js-options {:output-feature-set :es8}}

          :esm {:target :esm
                :devtools {:enabled false :console-support false}
                :output-dir "public/js/"
                :output-to "public/js/markdown.mjs"
                :modules
                {:markdown {:entries ["markdown-it"
                                      "markdown-it-task-lists"
                                      "markdown-it-texmath"]}}}

          :graal {:target :graaljs
                  :devtools {:enabled false :console-support false}
                  :output-to "resources/graal/js/markdown.js"
                  ;; since we're not requiring md-it deps anywhere from cljs
                  ;; we need to expose globals to graal context
                  :compiler-options {:optimizations :simple}
                  :entries ["markdown-it"
                            "markdown-it-task-lists"
                            "markdown-it-texmath"
                            "markdown-it-block-image"]}}}
