/* Fonts */
/* --------------------------------------------------------------- */
:root {
  --code-font: "Fira Mono", monaco, monospace;
  --sans-serif-font:
    "Fira Sans",
    -apple-system, BlinkMacSystemFont,
    Helvetica, "Helvetica Neue", Ubuntu,
    Roboto, Noto, "Segoe UI", Arial,
    sans-serif;
    --sans-serif-condensed-font:
    "Fira Sans Condensed",
    -apple-system, BlinkMacSystemFont,
    Helvetica, "Helvetica Neue", Ubuntu,
    Roboto, Noto, "Segoe UI", Arial,
    sans-serif;
  --serif-font: "PTSerif", Georgia, serif;
}

html {
  font-size: 18px;
}
@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: var(--serif-font);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #1F2937;
}
@media (min-width: 550px) {
  body {
    overscroll-behavior-y: none;
  }
}
.serif {
  font-family: var(--serif-font);
}
.sans-serif {
  font-family: var(--sans-serif-font);
}
.sans-serif-condensed {
  font-family: var(--sans-serif-condensed-font);
}
.monospace {
  font-family: var(--code-font);
}
.inter {
  font-family: var(--inter-font);
}

:root {
--page-inset: 3rem;
--page-width: 64rem;
}
/* Colors */
/* --------------------------------------------------------------- */

:root {
  --near-black-color: #2e2e2c;
  --red-color: #d64242;
  --dark-blue-color: #1f2937;
  --dark-blue-60-color: rgba(28, 42, 56, 0.6);
  --gray-panel-color: rgba(239, 241, 245, 1.000);
  --brand-color: var(--dark-blue-color);
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
}

.bg-dark-blue { background: var(--dark-blue-color); }
.bg-dark-blue-60 { background: rgba(28, 42, 56, 0.6); }
.bg-gray-panel { background: var(--gray-panel-color); }
.text-dark-blue  { color: var(--dark-blue-color); }
.text-dark-blue-60 { color: var(--dark-blue-60-color); }
.border-dark-blue-30 { border-color: rgba(28, 42, 56, 0.6); }
.text-brand { color: var(--dark-blue-color); }
.bg-brand { background: var(--dark-blue-color); }
.bg-selected { background: var(--teal-color); }
.text-selected { color: white; }
.red { color: var(--red-color); }

/* Resets */
/* --------------------------------------------------------------- */

*:focus { outline: none; }

/* Easings */
/* --------------------------------------------------------------- */

:root {
  --snap-easing: cubic-bezier(0.060, 0.975, 0.195, 0.985);
}

/* Headings */
/* --------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, h7, h8 {
  font-family: var(--sans-serif-condensed-font);
  font-weight: bold;
  margin: 1rem 0;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0;
}
h2 {
  font-size: 1.8rem;
  margin: 3rem 0 0 0;
  line-height: 1.3;
}
h2.pm-node {
  margin-top: 1.5rem;
}
h3 {
  font-size: 1.35rem;
  margin: 2rem 0 0 0;
  line-height: 1.3;
}
h3.pm-node {
  margin-top: 0.5rem;
}
h4 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0 0;
}
h4.pm-node {
  margin-top: 0;
}
h5, h6, h7, h8 {
  font-size: 1rem;
  margin: 1rem 0 0 0;
}
h5.pm-node {
  margin-top: 0;
}

/* Katex */
/* --------------------------------------------------------------- */
/* Tailwind sets a light gray as default border-color
   which makes katex fraction separators barely visible. */

.katex * {
  border-color: black;
}

/* Section Numbers */
/* --------------------------------------------------------------- */

body {
  counter-reset: h2-counter;
}
h1 {
  counter-reset: h2-counter;
}

h2 {
  counter-reset: h3-counter;
}
.nj-doc--numbered h3::before {
  content: counter(h2-counter) "." counter(h3-counter) ".\0000a0";
  counter-increment: h3-counter;
}
h3 {
  counter-reset: h4-counter;
}

/* Data Viewer */
/* --------------------------------------------------------------- */

:root {
  --syntax-tag-color: rgba(0,0,0,.5);
  --syntax-number-color: #1c4c71;
  --syntax-keyword-color: #1c4c71;
  --syntax-nil-color: #1c4c71;
  --syntax-bool-color: #1c4c71;
  --syntax-string-color: #318b8a;
  --syntax-symbol-color: #8f2368;
  --syntax-tag-color: #8f2368;
  --syntax-untyped-color: #e44f67;
  --syntax-key-color: #652365;
  --syntax-index-color: #652365;
}

.inspected-value {
  font-size: 14px;
  font-family: var(--code-font);
}

.syntax-tag,
.cm-number, .syntax-number,
.cm-string, .syntax-string,
.cm-atom, .syntax-keyword,
.cm-builtin, .cm-keyword,
.syntax-symbol,
.syntax-bool,
.syntax-nil,
.syntax-untyped,
.syntax-key,
.syntax-index {
  font-family: var(--code-font);
}

.syntax-tag { color: var(--syntax-tag-color) !important; }
.cm-number,
.syntax-number { color: var(--syntax-number-color) !important; }
.cm-string,
.syntax-string { color: var(--syntax-string-color) !important; }
.cm-atom,
.syntax-keyword { color: var(--syntax-keyword-color) !important; }
.cm-builtin,
.cm-keyword,
.syntax-symbol { color: var(--syntax-symbol-color) !important; }
.syntax-bool { color: var(--syntax-bool-color) !important; }
.syntax-nil { color: var(--syntax-nil-color) !important; }
.syntax-untyped { color: var(--syntax-untyped-color) !important; }
.syntax-key { color: var(--syntax-key-color) !important; }
.syntax-index { color: var(--syntax-index-color) !important; }

.syntax-untyped {
  white-space: nowrap;
}
.result-data {
  font-family: var(--code-font);
  font-size: 14px;
  overflow-x: auto;
  line-height: 1.5;
  white-space: nowrap;

}

.result-data::-webkit-scrollbar,
.path-nav::-webkit-scrollbar {
  height: 0;
}
.result-data-collapsed {
  white-space: nowrap;
}
.result-data-field {
  margin-left: 1em;
  white-space: nowrap;
}
.result-data-field-link{
  margin-left: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.result-data-field-link:hover {
  color: black;
  background: rgba(0,0,0,.05);
}
.result-text-empty {
  color: rgba(0,0,0,.3);
}
.browsify-button:hover {
  box-shadow: -2px 0 0 2px #edf2f7;
}

/* Disclose */
/* --------------------------------------------------------------- */

.disclose {
  content: "";
  border-style: solid;
  border-color: var(--near-black-color) transparent;
  border-width: 6px 4px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.disclose:hover {
  border-color: var(--near-black-color) transparent;
}
.disclose.collapsed {
  transform: rotate(-90deg);
}

/* Layout */
.page {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-inset);
  padding-right: var(--page-inset);
  box-sizing: border-box;
  flex-shrink: 0;
}

/* Katex */
.katex * {
  border-color: black;
}

/* Hopefully temporary workaround for vega viewer resizing into infinity */
.vega-embed .chart-wrapper {
  height: auto !important;
}

/* List styles */

.list-disc {
  list-style-type: disc;
}

.list-inside {
  list-style-position: inside;
}

.list-decimal {
  list-style-type: decimal;
}

.task-list-item + .task-list-item,
.viewer-markdown ul .task-list-item ul {
  margin-top: 0.25rem;
}

.contains-task-list input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  color: rgba(79, 70, 229, var(--tw-text-opacity));
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  position:relative;
  top: 2px;
}

.contains-task-list input[type="checkbox"]:focus {
  --tw-ring-color: rgba(79, 70, 229, var(--tw-ring-opacity));
}

.contains-task-list input[type="checkbox"]:checked {
  --tw-border-opacity: 1;
  border-color: rgba(79, 70, 229, var(--tw-border-opacity));
}

.contains-task-list {
  list-style: none;
}

/* TOC */
.toc {
  position: fixed;
  top: 48px;
  bottom: 0;
  right: 0;
  width: 50px;
  z-index: 999;
}

.toc-content {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(110%) translateY(-50%);
  width: 220px;
  opacity: 0;
  font-size: 12px;
  font-family: var(--sans-serif-font);
  transition: all 0.3s ease-in-out;
  background: #fbfbfc;
  padding: 14px 7px 14px 0;
  max-height: calc(100vh - 48px);
  overflow-y: auto;
}

.toc-content a {
  color: rgba(0,0,0,.5);
}
.toc-content a:hover {
  opacity: 1;
  color: rgba(0,0,0,.7);
  text-decoration: underline;
}

.toc-button {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  width: 0;
  height: 0;
  transform: rotate(-90deg);
  transform-origin: right top 0;
}

.toc-label {
  font-size: 16px;
  color: rgba(0,0,0,.3);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  left: 0;
  top: 0;
  width: 200px;
  margin-left: -100px;
  margin-top: 15px;
}

.toc:hover .toc-content,
.toc.pinned .toc-content {
  transform: translateX(0) translateY(-50%);
  opacity: 1;
}

.toc:hover .toc-button,
.toc.pinned .toc-button {
  transform: translateX(-110px) rotate(-90deg);
  opacity: 0;
}

.toc-header {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: rgba(0,0,0,.5);
  margin-left: 15px;
  margin-bottom: 7px;
}

.toc-pin {
  font-weight: normal;
  font-size: 11px;
  margin-top: 3px;
  margin-left: 7px;
  color: rgba(0,0,0,.3);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.toc-pin:hover {
  color: rgba(0,0,0,.7);
  text-decoration: underline;
}

/* Code */

.code,
code {
  font-family: var(--code-font);
  font-size: 0.85em;
  color: var(--text-color);
  background-color: var(--gray-panel-color);
  padding: 1px 2px;
  border-radius: 2px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
pre {
  margin: 0;
  font-family: var(--code-font);
}

/* Viewers */

.viewer-data,
.viewer-markdown {
  width: 100%;
}
.viewer-code {
  background: var(--gray-panel-color);
  border-radius: 2px;
  font-family: var(--code-font);
  padding: 1rem 1.8rem;
}
.notebook-viewer .viewer-code {
  margin-left: -1.8rem;
  margin-right: -1.8rem;
}
.viewer-markdown ul ul,
.viewer-markdown ol ol {
  margin-left: 1.5rem;
}
.viewer-markdown p,
.viewer-markdown ul,
.viewer-markdown ol {
  line-height: 1.4;
  margin-top: 1rem;
}
.viewer-markdown h2,
.viewer-markdown h3,
.viewer-markdown h4,
.viewer-markdown h5,
.viewer-markdown h6 {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .viewer-code > div,
  .viewer-data,
  .viewer-markdown {
    max-width: 42rem;
    margin: 0 auto;
  }
  .viewer-plot {
    margin: 0 auto;
  }
  .devcard-desc > div {
    max-width: 100%;
    margin: 0;
  }
}
.viewer + .viewer {
  margin-top: 1.5rem;
}
