{:paths ["src"]
 :deps  {io.github.nextjournal/clojure-mode {:git/sha "699a445ebf2767f41fd0b6eeed5a008511702be6"}
         io.github.nextjournal/cljs-extensions {:local/root "../cljs-extensions"}
         io.github.nextjournal/markdown        {:git/url "git@github.com:nextjournal/markdown.git"
                                                :git/sha "bbcebf41a6d1f863dbc0a7db32d309c293e19f08"}
         io.github.nextjournal/log             {:local/root "../log"}
         io.github.nextjournal/devcards        {:local/root "../devcards"}

         org.babashka/sci            {:mvn/version "0.2.9"}
         applied-science/js-interop  {:mvn/version "0.2.6"}
         com.cognitect/transit-cljs  {:mvn/version "0.8.264"}}

 :aliases
 {:dev
  {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.3"}
                #_#_ ;; brought in by shadow-cljs
                org.clojure/clojurescript {:mvn/version "1.10.866"}
                thheller/shadow-cljs      {:mvn/version "2.14.2"}

                io.pedestal/pedestal.log {:git/url "https://github.com/nextjournal/pedestal" :sha "5ab1c9770472694f94d0835cda412ba753b28809"}

                reagent/reagent {:mvn/version "1.0.0"
                                 :exclusions  [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]}}}}}
