{;; temporary workaround for loop problem in 2022.02.01-20.02.32
 :source-paths ["modules/viewers/src"
                "modules/cljs-extensions/src"
                "modules/log/src"
                "modules/devcards/src"
                "modules/inspector/src"
                "modules/command-bar/src"
                "modules/view/src"
                "modules/ui/src"]
 :linters {:unused-public-var {:level :off}}}
