{:path ["src"]
 :deps {io.github.nextjournal/clerk {:git/sha "0af6bdb94abe9c5690d3ddb703e884b7aa933ae3"}

        io.github.nextjournal/clerk.render {:git/url "https://github.com/nextjournal/clerk"
                                            :git/sha "0af6bdb94abe9c5690d3ddb703e884b7aa933ae3"
                                            :deps/root "render"
                                            :deps/manifest :deps}

        re-frame/re-frame {:git/url "https://github.com/nextjournal/freerange"
                           :git/sha "8cf68c30722a4c6f8f948a134c900d7a656ecad4"}
        com.lambdaisland/deja-fu {:mvn/version "0.3.33"}}}
