{:path ["src"]
 :deps {io.github.nextjournal/clerk {:git/sha "14ee7c78cdb9a032a024da6712605c0f7c25a59d"}

        ;; clerk sci/cljs deps
        applied-science/js-interop {:mvn/version "0.3.3"}
        org.babashka/sci {:mvn/version "0.3.2"}
        reagent/reagent {:mvn/version "1.1.0"}
        io.github.babashka/sci-configs {:git/sha "fd6a3332f358e56b96b5a791f75f97573e018580"}

        ;; devdocs views deps
        re-frame/re-frame {:git/url "https://github.com/nextjournal/freerange"
                           :git/sha "8cf68c30722a4c6f8f948a134c900d7a656ecad4"}
        io.github.nextjournal/cljs-extensions {:local/root "../cljs-extensions"}
        metosin/reitit-frontend {:mvn/version "0.5.15"}
        com.lambdaisland/deja-fu {:mvn/version "0.3.33"}}}
