{:path ["src"]
 :deps {io.github.nextjournal/clerk {:git/sha "7dbdf8cb802e87ff42b8dcbe82f4edbce33b84b2"}

        ;; clerk cljs deps
        applied-science/js-interop {:mvn/version "0.3.3"}
        org.babashka/sci {:mvn/version "0.3.5"}
        reagent/reagent {:mvn/version "1.1.0"}
        io.github.babashka/sci.configs {:git/sha "fcd367c6a6115c5c4e41f3a08ee5a8d5b3387a18"}

        ;; devdocs views deps
        re-frame/re-frame {:git/url "https://github.com/nextjournal/freerange"
                           :git/sha "8cf68c30722a4c6f8f948a134c900d7a656ecad4"}
        io.github.nextjournal/cljs-extensions {:local/root "../cljs-extensions"}
        metosin/reitit-frontend {:mvn/version "0.5.15"}
        com.lambdaisland/deja-fu {:mvn/version "0.3.33"}}}
