:root {
  --code-font: "Fira Mono", monaco, monospace;
  --sans-serif-font: "Fira Sans", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  --sans-serif-condensed-font: "Fira Sans Condensed", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  --serif-font: "PTSerif", Georgia, serif;
}
html {
  font-size: 18px;
}
@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: var(--serif-font);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #1F2937;
}
@media (min-width: 550px) {
  body {
    overscroll-behavior-y: none;
  }
}
.serif {
  font-family: var(--serif-font);
}
.sans-serif {
  font-family: var(--sans-serif-font);
}
.monospace {
  font-family: var(--code-font);
}
/* Colors */
/* --------------------------------------------------------------- */

:root {
  --near-black-color: #2e2e2c;
  --red-color: #d64242;
  --dark-blue-color: #1f2937;
  --dark-blue-60-color: rgba(28, 42, 56, 0.6);
  --gray-panel-color: rgba(239, 241, 245, 1.000);
  --brand-color: var(--dark-blue-color);
  --link-color: #5046e4;
}

.bg-dark-blue { background: var(--dark-blue-color); }
.bg-dark-blue-60 { background: rgba(28, 42, 56, 0.6); }
.bg-gray-panel { background: var(--gray-panel-color); }
.text-dark-blue  { color: var(--dark-blue-color); }
.text-dark-blue-60 { color: var(--dark-blue-60-color); }
.border-dark-blue-30 { border-color: rgba(28, 42, 56, 0.6); }
.text-brand { color: var(--dark-blue-color); }
.bg-brand { background: var(--dark-blue-color); }
.text-selected { color: white; }
.red { color: var(--red-color); }

/* Resets */
/* --------------------------------------------------------------- */

*:focus { outline: none; }

/* Katex */
/* --------------------------------------------------------------- */
/* Tailwind sets a light gray as default border-color
   which makes katex fraction separators barely visible. */

.katex * {
  border-color: black;
}

/* Data Viewer */
/* --------------------------------------------------------------- */

:root {
  --syntax-tag-color: rgba(0,0,0,.5);
  --syntax-number-color: #1c4c71;
  --syntax-keyword-color: #1c4c71;
  --syntax-nil-color: #1c4c71;
  --syntax-bool-color: #1c4c71;
  --syntax-string-color: #318b8a;
  --syntax-symbol-color: #8f2368;
  --syntax-tag-color: #8f2368;
  --syntax-untyped-color: #e44f67;
  --syntax-key-color: #652365;
  --syntax-index-color: #652365;
}

.inspected-value {
  font-size: 14px;
  font-family: var(--code-font);
}

.syntax-tag,
.cm-number, .syntax-number,
.cm-string, .syntax-string,
.cm-atom, .syntax-keyword,
.cm-builtin, .cm-keyword,
.syntax-symbol,
.syntax-bool,
.syntax-nil,
.syntax-untyped,
.syntax-key,
.syntax-index {
  font-family: var(--code-font);
}

.syntax-tag { color: var(--syntax-tag-color) !important; }
.cm-number,
.syntax-number { color: var(--syntax-number-color) !important; }
.cm-string,
.syntax-string { color: var(--syntax-string-color) !important; }
.cm-atom,
.syntax-keyword { color: var(--syntax-keyword-color) !important; }
.cm-builtin,
.cm-keyword,
.syntax-symbol { color: var(--syntax-symbol-color) !important; }
.syntax-bool { color: var(--syntax-bool-color) !important; }
.syntax-nil { color: var(--syntax-nil-color) !important; }
.syntax-untyped { color: var(--syntax-untyped-color) !important; }
.syntax-key { color: var(--syntax-key-color) !important; }
.syntax-index { color: var(--syntax-index-color) !important; }

.syntax-untyped {
  white-space: nowrap;
}
.result-data {
  font-family: var(--code-font);
  font-size: 14px;
  overflow-x: auto;
  line-height: 1.5;
  white-space: nowrap;

}

.result-data::-webkit-scrollbar,
.path-nav::-webkit-scrollbar {
  height: 0;
}
.result-data-collapsed {
  white-space: nowrap;
}
.result-data-field {
  margin-left: 1em;
  white-space: nowrap;
}
.result-data-field-link{
  margin-left: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.result-data-field-link:hover {
  color: black;
  background: rgba(0,0,0,.05);
}
.result-text-empty {
  color: rgba(0,0,0,.3);
}
.browsify-button:hover {
  box-shadow: -2px 0 0 2px #edf2f7;
}

/* Disclose */
/* --------------------------------------------------------------- */

.disclose {
  content: "";
  border-style: solid;
  border-color: var(--near-black-color) transparent;
  border-width: 6px 4px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.disclose:hover {
  border-color: var(--near-black-color) transparent;
}
.disclose.collapsed {
  transform: rotate(-90deg);
}

/* Layout */
.page {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

/* Katex */
.katex * {
  border-color: black;
}

/* Hopefully temporary workaround for vega viewer resizing into infinity */
.vega-embed .chart-wrapper {
  height: auto !important;
}

/* List styles */

.list-disc {
  list-style-type: disc;
}

.list-inside {
  list-style-position: inside;
}

.list-decimal {
  list-style-type: decimal;
}

.task-list-item + .task-list-item,
.viewer-markdown ul .task-list-item ul {
  margin-top: 0.25rem;
}

.contains-task-list {
  list-style: none;
}

.toc-content {
  transform: translateX(-110%);
  opacity: 0;
}
.toc:hover .toc-content,
.toc.pinned .toc-content {
  transform: translateX(0);
  opacity: 1;
}

/* Code */

.code,
code {
  font-family: var(--code-font);
  font-size: 0.85em;
  color: var(--text-color);
  background-color: var(--gray-panel-color);
  padding: 1px 2px;
  border-radius: 2px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
pre {
  margin: 0;
  font-family: var(--code-font);
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif-condensed-font);
  font-weight: bold;
  margin-top: 2rem;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 2.2rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.8rem;
  line-height: 1.3;
}
h3 {
  font-size: 1.35rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.2rem;
}
h5, h6 {
  font-size: 1rem;
}

/* Viewers */

.max-w-prose {
  max-width: 46rem !important;
}
.max-w-wide {
  max-width: 48rem !important;
}
.viewer-code {
  background: var(--gray-panel-color);
  border-radius: 2px;
  font-family: var(--code-font);
  padding: 1rem 2rem;
}
.viewer-markdown pre {
  font-size: 0.9rem;
  background: var(--gray-panel-color);
  border-radius: 2px;
  padding: 1rem;
  margin-top: 1rem;
  overflow-x: auto;
}
.viewer-markdown ul ul,
.viewer-markdown ol ol {
  margin-left: 1rem;
  margin-top: 0.25rem;
}
.viewer-markdown ul.contains-task-list ul {
  margin-left: 1.5rem;
}
.viewer-markdown p,
.viewer-markdown ul,
.viewer-markdown ol,
.viewer-markdown blockquote {
  line-height: 1.4;
  margin-top: 1rem;
}
.viewer-markdown hr {
  margin-top: 1.5rem;
  border-top: 2px solid rgba(0,0,0,.2);
}
.viewer-markdown ol {
  counter-reset: item
}
.viewer-markdown ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  flex-shrink: 0;
  margin-right: 0.5rem;
  position: relative;
}
.viewer-markdown li {
  position: relative;
  margin-left: 1rem;
  display: block;
}
.viewer-markdown ol li {
  margin-left: 0;
  display: flex;
}
.viewer-markdown .contains-task-list li {
  margin-left: 0;
}
.viewer-markdown .contains-task-list {
  padding-left: 1.5rem;
}
.viewer-markdown .contains-task-list .contains-task-list {
  padding-left: 0;
}
.contains-task-list input[type="checkbox"] {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  margin: 0 0.3rem 0 -1.5rem;
  border: 1px solid #d1d5db;
  position: relative;
  top: 0.16rem;
}
.contains-task-list li p {
  display: inline;
  margin: 0;
}
.viewer-markdown .contains-task-list input[type="checkbox"]:checked {
  border-color: #4f46e5;
  background-color: #4f46e5;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.viewer-markdown li + li {
  margin-top: 0.25rem;
}
.viewer-markdown ul:not(.contains-task-list) li::before {
  position: absolute;
  content: "";
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 1rem;
  background-color: currentColor;
  left: -1rem;
  top: 0.5rem;
  flex-shrink: 0;
}
.viewer-markdown blockquote {
  border-left: 3px solid rgba(0,0,0,.1);
  padding-left: 1rem;
}
.viewer-markdown table {
  margin-top: 1rem;
  border-left: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  min-width: 100%;
}
.viewer-markdown tr:nth-child(even) {
  background-color: #f9fafb;
}
.viewer-markdown td,
.viewer-markdown th {
  border-right: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  padding: 0.5rem 1rem;
}
.viewer-markdown th {
  text-align: left;
  background-color: #f3f4f6;
}
.viewer-markdown figure {
  margin-top: 1rem;
}
.viewer-markdown figcaption {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}
.viewer-markdown .toc h1,
.viewer-markdown .toc h2,
.viewer-markdown .toc h3,
.viewer-markdown .toc h4,
.viewer-markdown .toc h5,
.viewer-markdown .toc h6 {
  font-size: inherit;
  font-weight: normal;
  font-family: var(--sans-serif-font);
}
.viewer-markdown .toc ul {
  list-style: none;
}
.viewer-markdown .toc ul ul {
  margin-left: 1rem;
}
.viewer-markdown .toc li {
  margin-left: 0;
}
.viewer-markdown .toc li::before {
  display: none;
}
.viewer-markdown a {
  color: var(--link-color);
}
.viewer-markdown a:hover {
  text-decoration: underline;
}
.viewer-markdown *:first-child {
  margin-top: 0;
}
.viewer + .viewer {
  margin-top: 1.5rem;
}
.viewer-notebook {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 960px){
  .viewer-notebook .viewer-code {
    padding: 1rem 0 1rem 3rem;
  }
}

/* Sidenotes */

.viewer-markdown p {
  max-width: 65%;
}
.viewer-markdown p aside {
  margin-right: -54%;
  margin-top: 0.2rem;
  width: 50%;
  float: right;
  clear: right;
  position: relative;
  font-size: 0.8rem;
}
.viewer-code + .viewer:not(.viewer-markdown):not(.viewer-code) {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .devcard-desc > div {
    max-width: 100%;
    margin: 0;
  }
}
